/* Teams Table */
table {
  width: 400px;
  border-bottom: 10px solid #05386b;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  table {
    width: 300px;
  }
}

table,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

th {
  background-color: #05386b;
  font-size: 1rem;
  text-align: center;
}

td {
  color: #05386b;
  text-align: center;
  border-bottom: none;
  border-left: none;
  font-size: 1rem;
}

tr {
  display: table;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

table tr > *:nth-child(1) {
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #eee;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

thead {
  display: table;
  width: 100%;
}

tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
}

.delete-button {
  border: none;
  color: #c80004;
  background-color: transparent;
  cursor: pointer;
}

.delete-button:hover {
  color: #05386b;
}

.view-mode-button {
  background-color: initial;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.view-mode-button:hover {
  background-color: #379683;
}

.open {
  color: #379683;
}

.started {
  color: #ffdf00;
}

.finished {
  color: #c80004;
}

.fa-circle {
  font-size: 0.5rem;
}

@media screen and (max-width: 600px) {
  table {
    max-height: 300px;
  }

  td {
    font-size: 0.8rem;
  }
}
