.tournament-tab {
  display: flex;
  flex-direction: row;
  width: 300px;
  padding: 0;
  border-bottom: 1px solid #000;
}

.tournament-tab button {
  width: 100px;
  margin: 0;
  background-color: #05386b;
  color: #fff;
  border-radius: 0;
}

.tournament-tab button:hover {
  background-color: #aaa;
  color: #05386b;
}

.tournament-tab .active {
  background-color: #aaa;
  color: #05386b;
}

.tournament-tab button:active,
.tournament-tab button:focus {
  background-color: #ddd;
  color: #05386b;
}
