button:focus {
  outline: none;
}

/* Cancel Button Style */

.cancel-button {
  border: none;
  background-color: transparent;
  text-align: center;
  color: #fff;
}

.cancel-button:hover {
  text-decoration: underline;
}

/* Go Back Button Style */

.goback-button {
  margin-top: 5px;
}

.cancel-button:hover {
  text-decoration: underline;
}

/* Score Button Style */

.goals-buttons button {
  border: 0.1px solid #fff;
  width: 70px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 800;
  color: #fff;
}

.goals-buttons button.plus {
  background-color: #379683;
}

.goals-buttons button.minus {
  background-color: #c80004;
}

/* Standard Button Style */

.standard-button {
  margin: 3px;
  width: 300px;
  height: 60px;
  background-color: #05386b;
  color: #fff;
}

.standard-button:hover {
  background-color: #379683;
}
