/* Table of Tournaments */

#tournaments-table tr > *:nth-child(1) {
  width: 5%;
  padding-left: 10px;
}
#tournaments-table tr > *:nth-child(2) {
  width: 10%;
}
#tournaments-table tr > *:nth-child(3) {
  width: 30%;
  font-size: 0.7rem;
}
#tournaments-table tr > *:nth-child(4) {
  width: 10%;
}
#tournaments-table tr > *:nth-child(5) {
  width: 30%;
  font-size: 0.7rem;
}
#tournaments-table tr > *:nth-child(6) {
  width: 10%;
  text-align: right;
  padding-right: 10px;
}

.tournament-button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  color: blue;
}

.tournament-button:hover {
  color: #c80004;
}
