.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  border: 10px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.avatar-placeholder {
  margin-bottom: 20px;
  width: 200px;
  border: 2px solid #000;
}

.fa-trophy,
.fa-star,
.fa-user-plus,
.fa-flag,
.fa-map,
.fa-lock-open,
.fa-calendar-alt,
.fa-clock {
  color: #ffdf00;
}
