#players-table {
  max-height: 150px;
}
#players-table td {
  height: 75px;
}
#players-table tr > *:nth-child(1) {
  width: 20%;
}
#players-table tr > *:nth-child(2) {
  width: 60%;
  text-align: left;
}
#players-table tr > *:nth-child(3) {
  width: 20%;
}

.user-status button {
  width: 60px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #05386b;
}

.user-active {
  background-color: #379683;
}

.user-active:hover {
  background-color: #c80004;
}

.user-inactive {
  background-color: #c80004;
}

.user-inactive:hover {
  background-color: #379683;
}

.stars-button {
  background-color: transparent;
  border: none;
  color: #05386b;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.stars-button:hover {
  color: #ffd700;
}
