.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  min-width: 100vw;
  min-height: 100vh;
  border: 10px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
