#ranking-table tr > *:nth-child(1) {
  width: 20%;
  padding-left: 10px;
}
#ranking-table tr > *:nth-child(2) {
  width: 6%;
}
#ranking-table tr > *:nth-child(3) {
  width: 6%;
}
#ranking-table tr > *:nth-child(4) {
  width: 6%;
}
#ranking-table tr > *:nth-child(5) {
  width: 6%;
}
#ranking-table tr > *:nth-child(6) {
  width: 6%;
}
#ranking-table tr > *:nth-child(7) {
  width: 6%;
}
#ranking-table tr > *:nth-child(8) {
  width: 6%;
  padding-right: 10px;
}

#ranking-table tbody {
  max-height: 250px;
}

#ranking-table th {
  font-size: 0.7rem;
  background-color: #000;
}

#ranking-table th,
#ranking-table td {
  padding: 2px;
}
